#profile img{
    height: 20em;
    width: 20em;
    border-radius: 50%;
}
.jumbotron{
    background-image: url("background.jpg");
   
    width: 85em;
}

.foo{
    background-color: rgba(97, 100, 100, 0.39);
    height: 4em;
    
    align-items: center;
    
}

.badge{
    border: 4em;
    padding: 1em;
    
}